@model ShopViewModel
@{
    var linkTiktok = "https://www.tiktok.com/@firlansa.baku1";
    Layout = null;
}
<div class="product product-single row product-popup">
    <div class="col-md-6">
        <div class="product-gallery">
            <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1">
                <figure class="product-image main">
                    <img src="~/uploads/images/@Model.Product.Images.FirstOrDefault(i=>i.IsMain==true).ImagePath"
                         alt="@Model.Product.Name" width="580" height="580">
                </figure>
                @foreach (var image in Model.Product.Images.Where(i => i.IsMain == false))
                {
                    <figure class="product-image">
                        <img src="~/uploads/images/@image.ImagePath" alt="@Model.Product.Name"
                             width="580" height="580">
                    </figure>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="product-details scrollable pr-0 pr-md-3">
            <h1 class="product-name mt-0">@Model.Product.Name</h1>
            <div class="product-meta">
                @ShopPage.Category: <span class="product-brand">@Model.Product.Category.Name</span>
            </div>
            <div class="product-price">
                <ins class="new-price">@Model.Product.Price&#8380;</ins><del class="old-price">@(Model.Product.OldPrice != null ? Model.Product.OldPrice + "₼" : null)</del>
            </div>
            <p class="product-short-desc">
                @Model.Product.ShortDescription
            </p>

            <div class="product-form product-color">
                <label>@ShopPage.Color:</label>
                <div class="product-variations">
                    @foreach (var color in Model.Colors)
                    {
                        <a onclick="specificationsDetermine(event)" class="color" data-color-id="@color.Id" data-src="~/assets/images/demos/demo7/products/big1.jpg" href="#"
                           style="background-color: @color.HexCode">@(color.Name == "Ağ" || color.Name == "Ag" || color.Name == "White" ? color.Name : "")</a>
                    }
                </div>
            </div>
            @foreach (var color in Model.Colors)
            {
                <div data-entity-id="@color.Id" style="display:none;" class="product-form product-size">
                    <label>@ShopPage.Size:</label>
                    <div class="product-form-group">
                        <div class="product-variations">
                            @foreach (var size in Model.ProductSpecifications.Where(ps => ps.ColorId == color.Id))
                            {
                                if (size.Quantity <= 0)
                                {
                                    <a data-size-id="@size.SizeId" data-color-id="@color.Id" class="size soldOut">@size.Size.Name</a>
                                }
                                else
                                {
                                    <a style="width:auto;height:auto;" data-qty="@size.Quantity" class="size" data-size-id="@size.SizeId" href="#">@size.Size.Name</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            }

            <hr class="product-divider">

            <div class="product-form product-qty">
                <div class="product-form-group">
                    <div class="input-group mr-2">
                        <button class="quantity-minus d-icon-minus"></button>
                        <input class="quantity form-control" id="qty" type="number" min="1" max="1000000">
                        <button class="quantity-plus d-icon-plus"></button>
                    </div>
                    <button id="btnCart" data-item-id="@Model.Product.Id" onclick="addToCart(event)" class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold">
                        <i class="d-icon-bag"></i>@ShopPage.Add_to_Basket
                    </button>
                    <button style="background-color: #F27A1A;color:white;display:none;" id="btnNotify" data-item-id="@Model.Product.Id" onclick="addToNotify(event)" class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold">
                        <i class="fa-solid fa-bell"></i>@ShopPage.Add_to_Notification
                    </button>
                </div>
            </div>

            <hr class="product-divider mb-3">
            <div class="product-footer">
                <div class="social-links mr-4">
                    <a href="https://www.instagram.com/firlansa.baku/" class="fa-brands fa-instagram social-link social-instagram"></a>
                    <a href="@linkTiktok" class="social-link social-tiktok fa-brands fa-tiktok"></a>
                </div>
                <a style="cursor:pointer;" onclick="addToWishlist(event,@Model.Product.Id)" class="btn-product btn-wishlist mr-6">
                    <i class="d-icon-heart"></i>@ShopPage.Add_to_Wishlist
                </a>
            </div>
        </div>
    </div>
</div>

