<div class="col-lg-3 col-md-6">
    <div class="widget ml-lg-4">
        <h4 class="widget-title">@Navbar.Account</h4>
        <ul class="widget-body">
            <li>
                <a asp-action="signin" asp-controller="account">@Navbar.Signin</a>
            </li>
            <li>
                <a asp-action="register" asp-controller="account">@Navbar.Register</a>
            </li>
            <li>
                <a asp-action="profile" asp-controller="account">@Navbar.Account</a>
            </li>
            <li>
                <a asp-action="basket" asp-controller="shop">@Navbar.Cart</a>
            </li>
        </ul>
    </div>
    <!-- End Widget -->
</div>
<div class="col-lg-3 col-md-6">
    <div class="widget ml-lg-4">
        <h4 class="widget-title">@Navbar.Contact</h4>
        <ul class="widget-body">
            <li>
                <a asp-action="about" asp-controller="home">@Navbar.About_us</a>
            </li>
            <li>
                <a asp-action="contact" asp-controller="home">@Navbar.Contact</a>
            </li>
            <li>
                <a asp-action="faq" asp-controller="home">@Navbar.FAQs</a>
            </li>
            <li>
                <a asp-action="wishlist" asp-controller="shop">@Navbar.Wishlist</a>
            </li>
        </ul>
    </div>
    <!-- End Widget -->
</div>
