<nav class="main-nav">
    <ul class="menu">
        <li class="active">
            <a asp-controller="home" asp-action="index">@Navbar.Home</a>
        </li>
        <li>
            <a asp-controller="shop" asp-action="index">@Navbar.Shop</a>
        </li>
        <li>
            <a asp-action="about" asp-controller="home">@Navbar.About_us</a>
        </li>
        <li>
            <a asp-action="contact" asp-controller="home">@Navbar.Contact</a>
        </li>
        <li>
            <a asp-action="faq" asp-controller="home">@Navbar.FAQs</a>
        </li>
    </ul>
</nav>
