@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
<main class="main account">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a asp-action="index" asp-controller="home"><i class="d-icon-home"></i></a></li>
                <li>@AccountPage.Profile</li>
            </ul>
        </div>
    </nav>
    <div class="page-content mt-4 mb-10 pb-6">
        <div class="container">
            <h2 class="title title-center mb-10">@AccountPage.My_Account</h2>
            <div class="tab tab-vertical gutter-lg">
                <ul class="nav nav-tabs mb-4 col-lg-3 col-md-4" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#dashboard">@AccountPage.Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#orders">@AccountPage.Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#notifications">@AccountPage.Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#account">@AccountPage.Account_details</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="logout">@AccountPage.Log_Out</a>
                    </li>
                </ul>
                <div class="tab-content col-lg-9 col-md-8">
                    <div class="tab-pane active" id="dashboard">
                        <p class="mb-0">
                            @AccountPage.Hello <span>@User.GetPrincipalName()</span>
                        </p>
                        <p class="mb-8">
                            @AccountPage.From_your_account_dashboard_you_can_view_your <a href="#orders"
                                             class="link-to-tab text-primary">@AccountPage.recent_orders</a> @AccountPage.and_account_details_
                        </p>
                        <a href="shop.html" class="btn btn-dark btn-rounded">@AccountPage.Go_To_Shop<i class="d-icon-arrow-right"></i></a>
                    </div>
                    <div class="tab-pane" id="orders">
                        <table data-page-length='10' id="table-order" class="order-table table-hover">
                            <thead>
                                <tr>
                                    <th class="pl-2">@AccountPage.Order</th>
                                    <th>@AccountPage.Date</th>
                                    <th>@AccountPage.Status</th>
                                    <th class="pr-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Order)
                                {
                                    <tr>
                                        <td class="order-number"><a href="#">#@item.Id</a></td>
                                        <td class="order-date"><time>@item.CreatedDated.ToString("yyyy.MM.dd HH:mm:ss")</time></td>
                                        <td class="order-status">
                                            <span style="background-color:green;color:white;">@AccountPage.Paid</span>
                                        </td>
                                        <td class="order-action"><a asp-route-id="@item.Id" asp-action="Order" style="text-decoration:none;" class="btn btn-primary btn-link btn-underline">@AccountPage.Details</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="notifications">
                        @if (Model.ProductStatuses.Count == 0)
                        {
                            <p class="mb-4 text-body">@AccountPage.There_are_currently_no_notifications_</p>
                        }
                        else
                        {
                            @foreach (var productStatus in Model.ProductStatuses.OrderByDescending(p=>p.DeletedDate))
                            {
                                <p class="mb-4 text-body">'@productStatus.Product.Name' adlı '@productStatus.Color.Name' rəngli '@productStatus.Size.Name' ölçülü məhsul yenidən stoklarımızda. (@productStatus.DeletedDate?.ToString("d MMMM, yyyy HH:mm", CultureInfo.GetCultureInfo("az-Az")))</p>
                            }
                        }
                    </div>
                    <div class="tab-pane" id="account">
                        <form action="#" class="form">
                            @*<div class="row">
                                <div class="col-sm-6">
                                    <label>First Name *</label>
                                    <input type="text" class="form-control" name="first_name" required="">
                                </div>
                                <div class="col-sm-6">
                                    <label>Last Name *</label>
                                    <input type="text" class="form-control" name="last_name" required="">
                                </div>
                            </div>

                            <label>Display Name *</label>
                            <input type="text" class="form-control mb-0" name="display_name" required="">
                            <small class="d-block form-text mb-7">
                                This will be how your name will be displayed
                                in the account section and in reviews
                            </small>*@

                            <label>@AccountPage.Email_Address *</label>
                            <p class="form-control">@User.GetPrincipalName()</p>
                            @*<fieldset>
                                <legend>Password Change</legend>
                                <label>Current password (leave blank to leave unchanged)</label>
                                <input type="password" class="form-control" name="current_password">

                                <label>New password (leave blank to leave unchanged)</label>
                                <input type="password" class="form-control" name="new_password">

                                <label>Confirm new password</label>
                                <input type="password" class="form-control" name="confirm_password">
                            </fieldset>

                            <button type="submit" class="btn btn-primary">SAVE CHANGES</button>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section css{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />
}
@section js{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table-order').DataTable({
                order: [[1, 'desc']],
                lengthChange: false,
                searching: false,
            });
        });
    </script>
}
