<!-- End Cart Toggle -->
<div class="dropdown-box">
    <div class="cart-header">
        <h4 class="cart-title">Səbət</h4>
        <a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">
            @ShopPage.Close.ToLower()<i class="d-icon-arrow-right"></i><span class="sr-only">@ShopPage.Cart</span>
        </a>
    </div>


    @if (ViewBag.Colors != null)
    {
        if (ViewBag.Colors.Length == 0)
        {
            <div class="d-flex justify-content-center align-items-center">
                <h2 style="margin-top:20px;">@ShopPage.Your_cart_is_empty</h2>
            </div>
        }
    }
    @if (ViewBag.Colors == null)
    {
        <div class="d-flex justify-content-center align-items-center">
            <h2 style="margin-top:20px;">@ShopPage.Your_cart_is_empty</h2>
        </div>
    }
    <div id="basketProducts" class="products scrollable">
        @if (ViewBag.Products != null)
        {
            @for (int i = 0; i < ViewBag.Products.Count; i++)
            {
                <div data-specification="@ViewBag.Products[i].Id-@ViewBag.Colors[i]-@ViewBag.Sizes[i]" class="product product-cart">
                    <figure class="product-media1">
                        <a asp-action="details" asp-controller="shop" asp-route-slug="@ViewBag.Products[i].Slug">
                            @foreach (var images in ViewBag.Products[i].Images)
                            {
                                if (images.IsMain)
                                {
                                    <img src="~/uploads/images/@images.ImagePath" alt="@ViewBag.Products[i].Name" width="80"
                                         height="88" />
                                }
                            }
                        </a>
                        <button onclick="removeEntity1(@ViewBag.Products[i].Id,@ViewBag.Colors[i],@ViewBag.Sizes[i],@ViewBag.Quantities[i],event)" class="btn btn-link btn-close">
                            <i class="fas fa-times"></i><span class="sr-only">@ShopPage.Close</span>
                        </button>
                    </figure>
                    <div class="product-detail">
                        <a asp-action="details" asp-controller="shop" asp-route-slug="@ViewBag.Products[i].Slug" class="product-name">@ViewBag.Products[i].Name</a>
                        <div class="price-box">
                            <span class="product-quantity">@ViewBag.Quantities[i]</span>
                            <span class="product-price">@ViewBag.Products[i].Price</span>
                            <span>&#8380;</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="cart-total">
        @if (ViewBag.Colors != null)
        {
            if (ViewBag.Colors.Length != 0)
            {
                <label>@AccountPage.Total:</label>
                <span class="price">@ViewBag.SubTotal.ToString("0.00")</span><span>&#8380;</span>
            }
        }

    </div>

    <div class="cart-action">
        @if (ViewBag.Colors != null)
        {
            if (ViewBag.Colors.Length != 0)
            {
                <a asp-action="basket" asp-controller="shop" class="btn btn-dark btn-link">@ShopPage.Go_to_Basket</a>
            }
        }
    </div>
</div>

