@{
    ViewData["Title"] = "About";
}
<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-action="index"><i class="d-icon-home"></i></a></li>
            <li>@AboutPage.About_Us</li>
        </ul>
    </div>
</nav>
<div class="page-header pl-4 pr-4" style="background-image: url(/assets/images/page-header/about-us.jpg)">
    <h3 class="page-subtitle font-weight-bold">@AboutPage.Welcome_Firlansa</h3>
    <h1 class="page-title font-weight-bold lh-1 text-white text-capitalize">@AboutPage.Online_Clothing_Store</h1>
    <p class="page-desc text-white mb-0">
        @AboutPage.The_address_of_quality_clothes
    </p>
</div>
<div class="page-content mt-10 pt-10">
    <section class="about-section pb-10 appear-animate">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 mb-10 mb-lg-4">
                    <h5 class="section-subtitle lh-2 ls-md font-weight-normal">01. @AboutPage.What_We_Do</h5>
                    <h3 class="section-title lh-1 font-weight-bold">
                        @AboutPage.We_design_new_products__You_crowd_fund_them_at_incredible_prices_
                    </h3>
                    @*<p class="section-desc">
                        Lorem quis bibendum auctar, nisi elit consequat ipsum, nec
                        sagittis sem nibh id elit.
                    </p>*@
                </div>
                <div class="col-lg-8 ">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="counter text-center text-dark">
                                @*<span class="count-to" data-to="35" data-refresh-interval="50">0</span>*@
                                <h5 class="count-title font-weight-bold text-body ls-md">@AboutPage.Cotton_blend</h5>
                                @*<p class="text-grey mb-0">
                                    Lorem ipsum dolor sit<br>amet, conctetur adipisci
                                    elit. viverra erat orci.
                                </p>*@
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="counter text-center text-dark">
                                @*<span class="count-to" data-to="50" data-refresh-interval="50">0</span>*@
                                <h5 class="count-title font-weight-bold text-body ls-md">@AboutPage.Straight_fit</h5>
                                @*<p class="text-grey mb-0">
                                    Lorem ipsum dolor sit<br>amet, conctetur adipisci
                                    elit. viverra erat orci.
                                </p>*@
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="counter text-center text-dark">
                                @*<span class="count-to" data-to="130" data-refresh-interval="50">0</span>*@
                                <h5 class="count-title font-weight-bold text-body ls-md">@AboutPage.Quality_Clothes</h5>
                                @*<p class="text-grey mb-0">
                                    Lorem ipsum dolor sit<br>amet, conctetur adipisci
                                    elit. viverra erat orci.
                                </p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section-->

    <section class="customer-section pb-10 appear-animate">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 mb-4">
                    <figure>
                        <img src="~/assets/images/subpages/customer.jpg" alt="@AboutPage.Happy_Customer" width="580"
                             height="507" class="banner-radius" style="background-color: #BDD0DE;" />
                    </figure>
                </div>
                <div class="col-md-5 mb-4">
                    <h5 class="section-subtitle lh-2 ls-md font-weight-normal">02. @AboutPage.Happy_Customer</h5>
                    <h3 class="section-title lh-1 font-weight-bold">
                        @AboutPage.Provide_fashionable_and_qualified_products
                    </h3>
                    <p class="section-desc text-grey">
                        @AboutPage.Already_thousands_of_people_are_very_satisfied_by_Firlansa
                    </p>
                    <a asp-action="index" asp-controller="shop" class="btn btn-dark btn-link btn-underline ls-m">
                        @AboutPage.Visit_Our_Store<i class="d-icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Customer Section -->

    <section class="store-section pb-10 appear-animate">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-first mb-4">
                    <h5 class="section-subtitle lh-2 ls-md font-weight-normal mb-1">03. @AboutPage.Our_Store</h5>
                    <h3 class="section-title lh-1 font-weight-bold">@AboutPage.We_have_collected_everything_you_are_looking_for_in_one_place</h3>
                    @*<p class="section-desc text-grey">
                        Already millions of people are very satisfied by thi.<br>
                        s page builder and the number is growing more and more. Technolog<br>
                        developing, requirements are increasing. Firlansa has brought.
                    </p>*@
                    <a asp-action="index" asp-controller="shop" class="btn btn-dark btn-link btn-underline ls-m">
                        @AboutPage.Visit_Our_Store<i class="d-icon-arrow-right"></i>
                    </a>
                </div>
                <div class="col-md-6 mb-4">
                    <figure>
                        <img src="~/assets/images/subpages/store.jpeg" alt="@AboutPage.Our_Store" width="580" height="507"
                             class="banner-radius" style="background-color: #DEE6E8;" />
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>
@section css{
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.min.css">
}
@section js{
    <script src="~/assets/vendor/jquery.count-to/jquery.count-to.min.js"></script>
}