@model FirlansaUser
@{
    ViewData["Title"] = "Details";
}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>İstifadəçi</h4>
                    @*<span>
                            lorem ipsum dolor sit amet, consectetur adipisicing
                            elit
                        </span>*@
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-action="index" asp-controller="dashboard"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">İstifadəçi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="card p-3">
        <div class="card-block">
            <div>
                <div class="form-group row">
                    <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">@Model.UserName</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <p class="form-control">@Model.Email</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="tab-control" role="tabcontrol">
                            <div class="tab-page" id="roles" aria-title="Rollar" selected>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="table-row-select">

                                            </th>
                                            <th class="text-left">
                                                Name
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Tuple<int, string, bool> role in ViewBag.Roles)
                                        {
                                            <tr>
                                                <td class="table-row-select">
                                                    <input type="checkbox" @(role.Item3 ? "checked" : "") data-role-id="@role.Item1" data-user-id="@Model.Id" />
                                                </td>
                                                <th>
                                                    @role.Item2
                                                </th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-page" id="principals" aria-title="Səlahiyyətlər">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="table-row-select">

                                            </th>
                                            <th class="text-left">
                                                Name
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Tuple<string, bool> principal in ViewBag.Principals)
                                        {
                                            <tr>
                                                <th class="table-row-select">
                                                    <input type="checkbox" @(principal.Item2 ? "checked" : "") data-user-id="@Model.Id" data-principal-name="@principal.Item1" />
                                                </th>
                                                <th>
                                                    @principal.Item1
                                                </th>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <a asp-action="Index" class="btn btn-info btn-icon"><i class="icofont-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section css{
    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/libs/tab-control/tab-control.css" rel="stylesheet" />
}
@section js{
    <script src="~/libs/tab-control/tab-control.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input[type="checkbox"][data-role-id]').change(function (e) {
                let obj = $(e.currentTarget).data();
                obj.selected = $(e.currentTarget).is(':checked');


                 $.ajax({
                     url: `@Url.Action("SetRole")`,
                     type: 'POST',
                     data: obj,
                     contentType:'application/x-www-form-urlencoded',
                     dataType: 'json',
                     success: function (response) {
                         if (response.error == false) {
                             toastr.success(response.message, "Uğurludur!");
                             return;
                         }
                         toastr.error("Xəta!", response.message)

                         $(e.currentTarget).prop('checked', !obj.selected);
                     },
                     error: function (response) {
                         toastr["error"]("Xəta", "Texniki xəta baş verdi,biraz sonra yenidən yoxlayın!")
                     }
                 })
            });

            $('input[type="checkbox"][data-principal-name]').change(function (e) {
                let obj = $(e.currentTarget).data();
                obj.selected = $(e.currentTarget).is(':checked');


                 $.ajax({
                     url: `@Url.Action("SetPrincipal")`,
                     type: 'POST',
                     data: obj,
                     contentType:'application/x-www-form-urlencoded',
                     dataType: 'json',
                     success: function (response) {
                         if (response.error == false) {
                             toastr.success(response.message, "Uğurludur!");
                             return;
                         }
                         toastr.error("Xəta!", response.message)

                         $(e.currentTarget).prop('checked', !obj.selected);
                     },
                     error: function (response) {
                         toastr["error"]("Xəta", "Texniki xəta baş verdi,biraz sonra yenidən yoxlayın!")
                     }
                 })
            });
        });
    </script>
}
